@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--content-font-family);
}

/* body {
    
} */

:root {
    --header-bar-height: calc(55px + 2vw);
    --header-bar-z: 2;
    --sub-header-z: 1;
    --side-bar-z: 3;
    --divider-z: calc(var(--header-bar-z) - 1);
    --content-z: calc(var(--divider-z) - 1);

    --content-div-height: 5.5vh;

    --dark-base: #40513B;
    --bamboo-green: #609966;
    --dark-green: #5FD068;  
    --dark-green-contrast: #ADE792;
    --light-green: #89d38f;
    --light-green-contrast: #EDF1D6;
    --yellow-dark: #FED049;
    --yellow-contrast: #F5DF99;
    --background: #F6FBF4;
    --icon-main-size: calc(35px + 1vw);

    --brand-font: 'Tilt Neon', cursive;
    --brand-font-size: calc(1rem + 1vw);

    --content-font-family: 'Nunito', sans-serif;
    --content-main-font-size: calc(0.6rem + 1vw);
    --content-header-font-size: calc(var(--content-main-font-size) * 1.1);
    
    --common-padding: calc(5px + 1vw);
    --common-margin: calc(3px + 1vw);
}

/* section#header-bar (start) !!!!!!!!!!!!!!*/
section#header-bar { 
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-bar-height);
    /* min-height: max-content; */

    z-index: var(--header-bar-z);
    background-color: var(--dark-green);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
        "brand options-icons";
    align-items: center;
    justify-items: start;
    padding: var(--common-padding) var(--common-padding);

    border-bottom: 3px solid var(--bamboo-green);
}


/* div#brand (start) --------------- */
div#brand {
    grid-area: brand;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(5px + 1vw);
    width: max-content;
}


img#icon-logo, img#icon-logo2 {
    display: inline-block;
    width: var(--icon-main-size);
    height: var(--icon-main-size);
    padding: 3px;
    border-radius: 50%;
    border: 1px solid var(--bamboo-green);
    background-color: var(--dark-green-contrast);
}

h1#company-name, h1#company-name2 {
    font-size: var(--brand-font-size);
    font-family: var(--brand-font);
    color: var(--light-green-contrast);
    text-shadow: 0 0 5px var(--bamboo-green);
}
/* div#brand (end) */

/* div#options-icons (start) -----------------------*/
div#options-icons {
    grid-area: options-icons;
    display: flex;
    gap: calc(5px + 1vw);
    width: max-content;
    justify-self: end;
}

div#options-icons button { /* buttons*/
    width: var(--icon-main-size);
    height: var(--icon-main-size);

    padding: 5px;
    border: 1px solid var(--yellow-contrast);
    border-radius: 50%;
    font-size: var(--brand-font-size);
    background-color: var(--bamboo-green);
    color: var(--yellow-contrast);
    text-shadow: 0 0 3px var(--dark-base); 
}
/* div#options-icons (end)*/
/* section#header-bar (end)*/







/* div#sub-header (start) !!!!!!!!!!!!!*/
section#sub-header { 
    width: 100%;
    background-color: var(--dark-green-contrast);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
        "profiler actions";
    align-items: center;
    justify-items: start;

    padding: 0 var(--common-padding) var(--common-padding);
    padding-top: calc(var(--header-bar-height) + var(--common-padding));
    z-index: var(--sub-header-z);
}

/* div#profiler (start) --------------------- */
div#profiler {
    grid-area: profiler;
    width: 100%;
    
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

div#profile-picture {
    width: calc(var(--icon-main-size) * 1.3);
    height: calc(var(--icon-main-size) * 1.3);
    border-radius: 50%;
    border: 1px solid var(--yellow-contrast);
    background-image: url("./images/profile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(110%);
} 

div#user-detail {
    min-width: max-content;
    width: calc(60% + 2vw);
    padding: 5px;
    min-height: calc(var(--icon-main-size) * 1.3);
    background-color: var(--light-green-contrast);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 1px;
    border: 1px solid var(--yellow-contrast);
}

div#user-detail h2 {
    font-size: var(--content-header-font-size);
    font-family: var(--content-font-family);
    display: inline-block;
}

div#user-detail h3 {
    font-size: var(--content-main-font-size);
    font-family: var(--content-font-family);
    display: inline-block;
}

div#user-detail h3 {
    grid-column: 1/3;
}
/* div#profiler (start) */

/* div#actions (start) ---------------------- */
div#actions {
    grid-area: actions;
    justify-self: center;
    width: 100%;
}

ul#action-buttons {
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
}

ul#action-buttons li {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

ul#action-buttons button {
    min-width: 50px;
    width: 75%;
    height: calc(var(--icon-main-size) * 1.3);
    border: 1px solid var(--yellow-contrast);
    border-radius: 5px;
    font-size: var(--brand-font-size);
    background-color: var(--bamboo-green);
    color: var(--yellow-contrast);
    text-shadow: 0 0 3px var(--dark-base);

    display: grid;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: end;
    padding: calc(var(--common-padding) * 0.5);
}

ul#action-buttons button span {
    font-size: calc(var(--brand-font-size) * 0.6);
}

/* div#actions (end) */


/* section#sidebar (start) !!!!!!!! */

section#sidebar {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: var(--content-font-family);
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: var(--side-bar-z);
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
}

section#sidebar.hidden {
    transform: translateX(-100%);
}

div#brand2 {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    width: 80vw;
    background-color: var(--dark-green);
    padding : var(--common-padding);
}


section#sidebar h3 {
    font-size: var(--brand-font-size);
    padding: var(--common-padding);
    padding-right: 0;
    width: 80vw;
    background-color: var(--dark-green);
}

section#sidebar button#exit-side {
    width: calc(var(--brand-font-size) * 2);
    height: calc(var(--brand-font-size) * 2);
    font-size: calc(var(--brand-font-size) * 1.3);
    border-radius: 50%;

    border: 2px solid var(--bamboo-green);
    border-radius: 50%;
    background-color: var(--light-green-contrast); 
    color: var(--bamboo-green);
    box-shadow: 0 0 5px var(--yellow-dark);
    justify-self: end;

    position: absolute;
    left: 85vw;
}
section#sidebar nav {
    width: 80vw;
    flex: 1;
    background-color: var(--dark-green);
    padding-left: 5%;
}

section#sidebar ul {
    list-style: none;
    text-indent: 0;
    margin-bottom: calc(var(--common-margin) * 3);
}

section#sidebar li {
    font-size: var(--content-header-font-size);
    font-weight: bold;
}

section#sidebar a {
    text-decoration: none;
    color: black;
    padding: var(--common-padding);
    padding-right: 0;
    width: 100%;
    display: block;
}

section#sidebar a:visited {
    color: black;
}

section#sidebar a:hover,
section#sidebar a:focus{
    background-color: var(--light-green);
    border-radius:  var(--content-header-font-size) 0 0 var(--content-header-font-size);
}

section#sidebar a:active {
    color: var(--dark-base);
}

section#sidebar span {
    margin-left: var(--common-margin);
}
/* section#sidebar (end)*/


 



/* section#content-divider (start)*/
section#content-divider {
    width: 100%;
    padding-top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: var(--header-bar-height);
    background-color: var(--background);
    z-index: var(--divider-z);
}

section#content-divider.fixed {
    position: fixed;
    top: var(--header-bar-height);
}

section#content-divider ul {
    display: flex;
    list-style-type: none;
    border-bottom: 3px solid var(--bamboo-green);
}

section#content-divider li {
    padding: 2px;
    background-color: var(--bamboo-green);
    width: 33%;
    min-width: max-content;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    /* transform: translate(-5%); */
}

section#content-divider li:first-of-type {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    /* transform: translate(5%); */
}
section#content-divider li:nth-of-type(2) {
    transform: translateX(-5%);
}
section#content-divider li:nth-of-type(3) {
    transform: translateX(-10%);
}


section#content-divider button {
    font-size: var(--content-main-font-size);
    padding: calc(1px + 1vw) calc(10px + 1vw ) calc(1px + 1vw);
    border-radius: 0;
    border: none;
    background-color: var(--light-green-contrast);
    /* border-radius: 10px; */
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    width: 100%;
}

section#content-divider button#projects-button {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}

section#content-divider button:hover,
section#content-divider button:focus {
    background-color: #d3d6bf;
}

section#content-divider button:active {
    transform: scale(0.98);
}

section#content-divider button.clicked {
    background-color: var(--dark-green-contrast);
    font-weight: bold;
}
/* section#content-divider (end)*/






/* section#content-dash (start)*/
section#content-dash {
    padding: calc(1px + 1vw);
    /* z-index: var(--content-z); */
    display: flex;
    min-width: 100vw;
    overflow: hidden;
    flex-wrap: nowrap;
    background-color: var(--background);
}

section#content-dash > section {
    transition: transform 0.2s ease-in-out, 
        height 0.2s ease-in-out;
    width: 100%;
    flex: 0 0 100%;
    z-index: var(--content-z);
 
} 

section#content-dash > section#projects.swiped {
    transform: translateX(-110%);
    height: 0;
} 

section#content-dash > section#projects{
    transform: translateX(0);
    height: 100%;
}

section#content-dash > section#announcements.swiped {
    transform: translateX(-210%);
    height: 0;
} 

section#content-dash > section#announcements{
    transform: translateX(-100%);
    /* border: 1px solid black;  */
    height: 100%; 
} 

section#content-dash > section#team.swiped {
    transform: translateX(-310%);
    height: 0;
} 

section#content-dash > section#team {
    transform: translateX(-200%);
    height: 100%;
} 






section#content-dash.offset {
    padding-top: calc(var(--content-div-height) + calc(1px + 1vw));
    padding-top: calc(var(--content-div-height))
}

div#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: calc(var(--common-margin) * 3);
}

div#projects-grid div[data-class="project-box"] {
    padding: var(--common-padding);
    padding-left: calc(var(--common-padding) * 2);
    border: 1px solid var(--bamboo-green);
    border-left: 10px double var(--yellow-dark);
    background-color: var(--background);
    border-radius: 10px 0 0 10px;
    width: 100%;
    min-height: calc(150px + 1vw);
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

div#projects-grid div[data-class="project-box"].hovered {
    filter: brightness(0.95);
}


div#projects-grid div[data-class="project-box"] h4 {
    font-size: var(--content-header-font-size);
    height: 10%;
}

div#projects-grid div[data-class="project-box"] div[data-detail="details"] {
    height: 75%;
    display: flex;
    flex-direction: column;
}

div[data-detail="details"] p {
    height: max-content;
    /* flex: 1 1 30%; */
    /* height: max-content; */
    width: 100%;
    font-size: calc(0.6rem + 1vw);
    /* padding-bottom: var(--common-padding); */
    margin-bottom: var(--common-margin);
}

div[data-detail="details"] div[data-preview="preview"] {
    width: 95%;
    flex: 1;
    /* border: var(--common-padding) solid var(--background); */
    background: url("/images/profile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 10px double var(--dark-green);
    border-radius: 5px 0 0 5px;
}

div#projects-grid div[data-class="project-box"] div[data-action="respond"] {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: calc(5px + 1vw);
}

div#projects-grid div[data-class="project-box"] button {
    height: calc(var(--content-main-font-size) * 2);
    width: calc(var(--content-main-font-size) * 5);
    /* padding: calc(1px + 1vw); */
    font-size: var(--content-main-font-size);
    background-color: var(--light-green-contrast);
    border: none;
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#projects-grid div[data-class="project-box"] button i {
    width: 30%;
}
div#projects-grid div[data-class="project-box"] button span {
    width: 30%;
}
/* section#content-dash (end)*/




/* Modal styling (start) */
div#modal-container {
    width: 0;
}

dialog.projectModal, dialog.announceModal {
    margin: auto;
    min-width: 250px;
    width: 90%; 
    min-height: 500px;
    height: 60%;
    overflow: auto;
    border: 2px solid var(--dark-green);
    border-radius: 10px;
    box-shadow: 0 0 5px var(--light-green);
    background-color: var(--background);

    animation: 0.3s modal-show;
}

dialog.announceModal {
    min-height: 300px;
    height: 40%;
    overflow: auto;
}

@keyframes modal-show {
    from {
        opacity: 0;
        transform: scale(0.1);
    }

    to {opacity: 1;
        transform: scale(1);
    }
  } 

dialog.projectModal::backdrop,
dialog.announceModal::backdrop {
    background: rgba(0, 0, 0, 0.5);
}

dialog.projectModal div.modalDiv,
dialog.announceModal div.modalDiv {
    padding: var(--common-padding);
    max-width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--common-margin);
}

dialog.announceModal div.modalDiv {
    min-height: max-content;
    height: 100%;
}

dialog.projectModal button,
dialog.announceModal button {
    width: calc(var(--brand-font-size) * 1.5);
    height: calc(var(--brand-font-size) * 1.5);
    font-size: var(--brand-font-size);
    border-radius: 50%;

    border: 2px solid var(--bamboo-green);
    border-radius: 50%;
    background-color: var(--yellow-contrast); 
    color: var(--bamboo-green);
    align-self: flex-end;
}

dialog.projectModal h4,
dialog.announceModal h4 {
    font-size: calc(var(--content-header-font-size) * 1.5);
    max-width: 100%;
    min-height: max-content;
    word-wrap: break-word;
}


dialog.projectModal div[data-detail="details"] {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 50%;
    margin-bottom: calc(var(--common-margin) * 5);
}

dialog.projectModal div[data-detail="details"] p,
dialog.announceModal p,
dialog.announceModal time {
    font-size: calc(var(--content-main-font-size) * 1.2);
    margin-bottom: calc(var(--common-margin) * 2);
}

dialog.announceModal div.modalDiv p[data-message="message"] {
    flex: 1;
}



dialog.projectModal div[data-preview="preview"] {
    width: 95%;
    height: 50%;
    margin: auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-left: 10px double var(--dark-green);
    border-radius: 5px 0 0 5px;
}

dialog.projectModal div[data-link] {
    display: flex;
    height: max-content;
    align-items: center;
    gap: 1rem;
}


dialog.projectModal div[data-link] > p {
    font-size: calc(var(--content-main-font-size) * 1.2);
    height: 100%;
    min-width: max-content;
    width: calc(115px + 1vw);
}

dialog.projectModal div[data-link] > a {
    font-size: calc(var(--content-main-font-size) * 1.2);
    height: 100%;
    text-decoration: none;
}

dialog.projectModal div[data-link] > a:visited {
    color: var(--bamboo-green);
}

dialog.projectModal div[data-link] > a:hover,
dialog.projectModal div[data-link] > a:focus {
    color: var(--dark-green);
}

dialog.projectModal div[data-link] > a:active {
    transform: scale(0.95);
}


div[data-class="bar"] {
    height: 115%;
    max-width: 250px;
    width: 50%;
    border: 3px solid var(--light-green);
    /* padding: 1px; */
    border-radius: var(--content-main-font-size);
    position: relative;
    background-color: var(--light-green-contrast);
}


div[data-class="fill"] {
    height: 100%;
    border-radius: var(--content-main-font-size);
}

div[data-class="fill"].low {
    background-color: rgb(235, 83, 83)
}

div[data-class="fill"].mid {
    background-color: var(--yellow-dark);
}

div[data-class="fill"].high {
    background-color: var(--dark-green-contrast);
}

div[data-class="fill"].complete {
    background-color: var(--dark-green);
}





div[data-class="bar"] p {
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    font-size: calc(var(--content-header-font-size) * 0.95);
}




/* Modal styling (end) */


/* Announcements (start)*/
section#announcements {
    /* padding: var(--common-padding); */
    display: flex;
    flex-direction: column;
    gap: var(--common-margin);
}

div[data-box="announcement"] {
    display: flex;
    flex-direction: column;
    gap: var(--common-padding);
    border: 1px solid var(--bamboo-green);
    padding: var(--common-padding);
    border-radius: 15px 0 0 0px;
    background-color: var(--background);
}

div[data-box="announcement"]:hover,
div[data-box="announcement"]:focus {
    filter: brightness(0.95);
}


div[data-box="announcement"] h4 {
    font-size: var(--content-header-font-size);
    overflow: hidden;
}

div[data-box="announcement"] p {
    font-size: var(--content-main-font-size);
}

div[data-post] {
    font-size: var(--content-main-font-size);
    color: #7E97A6;
    display: flex;
    justify-content: space-between;
}
/* Announcements (start)*/


/* Teams (start) */

section#team {
    border: 1px solid var(--bamboo-green);
}

div[data-class="member"] {
    padding: var(--common-padding);
    border-bottom: 1px solid var(--light-green-contrast);
    background-color: var(--background);

    display: grid;
    grid-template-columns: min-content 1fr 20%;
    grid-template-rows: 1fr 1fr 1fr;

    grid-template-areas: 
        "picture username message"
        "picture address message"
        "picture status message";
}

div[data-profile="picture"] {
    grid-area: picture;
    width: calc(var(--content-header-font-size) * 4);
    height: calc(var(--content-header-font-size) * 4);
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

div[data-status="status"] {
    width: 30%;
    height: 30%;
    border: calc(2px + 0.3vw) solid var(--background);
    border-radius: 50%; 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;  
}

div[data-status="status"].online {
    background-color: green;
}

div[data-status="status"].offline {
    background-image: url("./images/offline.svg");
    background-color: var(--background);
}

div[data-status="status"].idle {
    background-image: url("./images/idle.svg");
    background-color: var(--background);
}
div[data-status="status"].no-disturb {
    background-image: url("./images/dont.svg");
    background-color: rgb(235, 83, 83);
}


p[data-profile] {
    margin-left: calc(var(--common-margin) * 2);
}

p[data-profile="username"] {
    grid-area: username;
    font-size: var(--content-main-font-size);
    font-weight: bold;
}

p[data-profile="address"] {
    grid-area: address;
    font-size: var(--content-main-font-size);
}

p[data-profile="status"] {
    grid-area: status;
    font-size: var(--content-main-font-size);
    color: #7E97A6;
}

button[data-message="message"] {
    grid-area: message;
    font-size: calc(var(--content-header-font-size) * 1.1);
    width: calc(var(--content-main-font-size) * 3);
    height: calc(var(--content-main-font-size) * 3);
    border-radius: 50%;
    text-align: center;
    padding: 5px;
    padding-top: 8px;
    border: 1px solid var(--bamboo-green);
    background-color: #EDF1D6;
    color: var(--light-green);
    align-self: center;
    justify-self: center;
}

button[data-message="message"]:hover,
button[data-message="message"]:focus {
    filter: brightness(0.95);
}

button[data-message="message"]:active {
    transform: scale(0.95);
}


@media only screen and (max-width: 375px) and (min-height: 500px) {

    :root {
        --header-bar-height: calc(40px + 2vw);
    }

    section#content-divider button {
        padding: 0;
        height: 100%;
        width: 100%;
        font-size: 0.7rem;
        margin: auto;
    }

    div#projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    img#icon-logo {
        width: calc(var(--icon-main-size) * 0.8);
        height: calc(var(--icon-main-size) * 0.8);
    }

    h1#company-name{
        font-size: calc(var(--brand-font-size) * 0.85);
    }

    div#options-icons button {
        width: calc(var(--icon-main-size) * 0.8);
        height: calc(var(--icon-main-size) * 0.8);
    }

    div#brand2 {
        grid-template-columns: 1fr 5fr 0.5fr;
    }

    h1#company-name2 {
        margin: auto;
    }

    section#sidebar button#exit-side {
        width: calc(var(--brand-font-size) * 1.8);
        height: calc(var(--brand-font-size) * 1.8);
    }

    section#sub-header {
        grid-template-columns: 1fr 1fr;
    }

    div#profiler {
        gap: 5px;
    }

    div#profile-picture {
        width: calc(var(--icon-main-size) * 1.1);
        height: calc(var(--icon-main-size) * 1.1);
    }

    div#user-detail h2 {
        font-size: var(--content-main-font-size)
    }

    div#user-detail {
        min-height:unset;
        padding: 3px;
    }

    ul#action-buttons {
        gap: 2px;
    }

    ul#action-buttons button {
        transform: scale(0.95);
}
}

@media only screen and (max-width: 325px) and (min-width: 320px) {

    ul#action-buttons {
        gap: 5px;
    }

    ul#action-buttons button {
        transform: scale(1);
}
}

/* tablet */
@media only screen and (min-width: 769px) {
    :root {
        --sidebar-width: 100%;
        /* --header-bar-height: 5vh; */
    }

    div#menu {
        display: grid;
        grid-template-columns: max-content 1fr;
        /* grid-template-rows: 
            minmax(5vh, max-content) 
            minmax(8vh, min-content)
            5vh 
            1fr; */
       grid-template-rows: 
            max-content 
            max-content
            max-content 
            1fr;
        grid-template-areas: 
            "sidebar header header"
            "sidebar sub-header sub-header"
            "sidebar divider divider"
            "sidebar contentDash contentDash";

            /* gap: 10px; */
        max-height: 100vh;
        overflow: hidden;
    }

    section#header-bar {
        grid-area: header;
        position: unset;
        height: max-content;
    }

    section#sub-header {
        padding: var(--common-padding);
    }

    div#hamburger {
       display: none;
        /* display: none; */
    }
    
    div#brand{
        visibility: hidden;
    }


    section#content-divider {
        grid-area: divider;
        height: 100%;
    }

    section#content-divider.fixed {
        position: unset;
    }


    section#sidebar {
        grid-area: sidebar;
        width: var(--sidebar-width);
        position: relative;
        height: 100vh;
        background-color: var(--dark-green);
    }

    section#sidebar.hidden {
        transform: translateX(0);
    }

    div#brand2 {
        /* min-width: max-content; */
        grid-template-columns: max-content max-content;
        width: var(--sidebar-width);
        height: max-content;
        border-bottom: 3px solid var(--bamboo-green);
        gap: calc(1px + 1vw);
    }

    section#sidebar button#exit-side {
        display: none;
    }

    section#sidebar h3{
        width: var(--sidebar-width);
    }

    section#sidebar nav {
        width: var(--sidebar-width);
    }

    section#content-dash.offset,
    section#content-dash {
        grid-area: contentDash;
        padding-top: calc(1px + 1vw);
        margin-bottom: var(--common-margin);
        min-width: unset;
        /* max-height: 50vh; */
        height: 98%;
        overflow-y: scroll;
    }

    div#projects-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: var(--common-margin);
    }
}

@media only screen and (min-width: 1024px) {
    :root {
        --common-padding: calc(3px + 0.5vw);
        --icon-main-size: calc(35px + 1.5vw);
        /* --icon-main-size: calc(100px + 1vw); */
    }

    section#header-bar {
        padding-right: calc(var(--common-padding) * 3);
    }

    /* div#brand {
        visibility: unset;
    } */

    div#brand2,
    section#sidebar h3,
    section#sidebar nav {
        padding-left: calc(var(--common-padding) * 3);
    }

    img#icon-logo, img#icon-logo2 {
        width: calc(var(--icon-main-size) * 1.3);
        height: calc(var(--icon-main-size) * 1.3);
    }
    
    section#sub-header {
        padding: calc(var(--common-padding) * 1);
        grid-template-columns: 1fr 1fr;
        padding-right: calc(var(--common-padding) * 3);
    }

    div#profile-picture {
        width: calc(var(--icon-main-size) * 1.8);
        height: calc(var(--icon-main-size) * 1.8);
        border: 2px solid var(--yellow-contrast);
    }

    div#actions {
        justify-self: center;
        width: 100%;
    }

    /* ul#action-buttons {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;

    } */

    /* ul#action-buttons li {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    } */

    ul#action-buttons button {
        min-width: 110px;
        width: 75%;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 1fr;
        padding: var(--common-padding);
        align-items: center;
        border-radius: calc(5px + 0.3vw);
    }

    ul#action-buttons button span {
        font-size: calc(var(--content-main-font-size) * 0.9);
    }



}