@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Tilt+Neon&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--content-font-family);
}

/* body {
    
} */

:root {
    --header-bar-height: calc(55px + 2vw);
    --header-bar-z: 2;
    --sub-header-z: 1;
    --side-bar-z: 3;
    --content-div-height: 5.5vh;

    --dark-base: #40513B;
    --bamboo-green: #609966;
    --dark-green: #5FD068;  
    --dark-green-contrast: #ADE792;
    --light-green: #89d38f;
    --light-green-contrast: #EDF1D6;
    --yellow-contrast: #F5DF99;
    --background: #F6FBF4;
    --icon-main-size: calc(35px + 1vw);

    --brand-font: 'Tilt Neon', cursive;
    --brand-font-size: calc(1rem + 1vw);

    --content-font-family: 'Nunito', sans-serif;
    --content-main-font-size: calc(0.6rem + 1vw);
    --content-header-font-size: calc(var(--content-main-font-size) * 1.1);
    
    --common-padding: calc(5px + 1vw);
    --common-margin: calc(3px + 1vw);
}

/* section#header-bar (start) !!!!!!!!!!!!!!*/
section#header-bar { 
    position: fixed;
    top: 0;
    width: 100%;
    height: var(--header-bar-height);
    /* min-height: max-content; */

    z-index: var(--header-bar-z);
    background-color: var(--dark-green);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
        "brand options-icons";
    align-items: center;
    justify-items: start;
    padding: var(--common-padding) var(--common-padding);

    border-bottom: 3px solid var(--bamboo-green);
}


/* div#brand (start) --------------- */
div#brand, div#brand2 {
    grid-area: brand;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: calc(5px + 1vw);
    width: max-content;
}


img#icon-logo, img#icon-logo2 {
    display: inline-block;
    width: var(--icon-main-size);
    height: var(--icon-main-size);
    padding: 3px;
    border-radius: 50%;
    border: 1px solid var(--bamboo-green);
    background-color: var(--dark-green-contrast);
}

h1#company-name, h1#company-name2 {
    font-size: var(--brand-font-size);
    font-family: var(--brand-font);
    color: var(--light-green-contrast);
    text-shadow: 0 0 5px var(--bamboo-green);
}
/* div#brand (end) */

/* div#options-icons (start) -----------------------*/
div#options-icons {
    grid-area: options-icons;
    display: flex;
    gap: calc(5px + 1vw);
    width: max-content;
    justify-self: end;
}

div#options-icons button { /* buttons*/
    width: var(--icon-main-size);
    height: var(--icon-main-size);

    padding: 5px;
    border: 1px solid var(--yellow-contrast);
    border-radius: 50%;
    font-size: var(--brand-font-size);
    background-color: var(--bamboo-green);
    color: var(--yellow-contrast);
    text-shadow: 0 0 3px var(--dark-base); 
}
/* div#options-icons (end)*/
/* section#header-bar (end)*/







/* div#sub-header (start) !!!!!!!!!!!!!*/
section#sub-header { 
    width: 100%;
    background-color: var(--dark-green);
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas:
        "profiler actions";
    align-items: center;
    justify-items: start;

    padding: 0 var(--common-padding) var(--common-padding);
    padding-top: calc(var(--header-bar-height) + var(--common-padding));
    z-index: var(--sub-header-z);
}

/* div#profiler (start) --------------------- */
div#profiler {
    grid-area: profiler;
    width: 100%;
    
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    align-items: center;
}

div#profile-picture {
    width: calc(var(--icon-main-size) * 1.3);
    height: calc(var(--icon-main-size) * 1.3);
    border-radius: 50%;
    border: 1px solid var(--yellow-contrast);
    background-image: url("./images/profile.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: brightness(110%);
} 

div#user-detail {
    min-width: max-content;
    width: calc(60% + 2vw);
    padding: 5px;
    min-height: calc(var(--icon-main-size) * 1.3);
    background-color: var(--light-green-contrast);
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    row-gap: 1px;
    border: 1px solid var(--yellow-contrast);
}

div#user-detail h2 {
    font-size: var(--content-header-font-size);
    font-family: var(--content-font-family);
    display: inline-block;
}

div#user-detail h3 {
    font-size: var(--content-main-font-size);
    font-family: var(--content-font-family);
    display: inline-block;
}

div#user-detail h3 {
    grid-column: 1/3;
}
/* div#profiler (start) */

/* div#actions (start) ---------------------- */
div#actions {
    grid-area: actions;
    justify-self: end;
}

ul#action-buttons {
    list-style-type: none;
    display: flex;
    gap: calc(5px + 1vw);
    flex-wrap: wrap;
}

ul#action-buttons button {
    width: var(--icon-main-size);
    height: calc(var(--icon-main-size) * 1.3);
    padding: 5px 1px;
    border: 1px solid var(--yellow-contrast);
    border-radius: 5px;
    font-size: var(--brand-font-size);
    background-color: var(--bamboo-green);
    color: var(--yellow-contrast);
    text-shadow: 0 0 3px var(--dark-base);

    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    gap: 5px;
}

ul#action-buttons button span {
    font-size: calc(var(--brand-font-size) * 0.45);
}

/* div#actions (end) */



/* section#sidebar (start) !!!!!!!! */

section#sidebar {
    padding: var(--common-padding);
    background-color: var(--dark-green);
    font-family: var(--content-font-family);
    width: 80vw;
    height: 100vh;
    position: fixed;
    top: 0;
    z-index: var(--side-bar-z);
    transition: all 0.2s ease-in-out;
}

section#sidebar.hidden {
    transform: translateX(-100%);
}

section#sidebar h3 {
    font-size: var(--brand-font-size);
    padding: var(--common-padding);
}

section#sidebar ul {
    list-style: none;
    text-indent: 0;
    margin-bottom: calc(var(--common-margin) * 3);
}

section#sidebar li {
    font-size: var(--content-header-font-size);
    font-weight: bold;
}

section#sidebar a {
    text-decoration: none;
    color: black;
    padding: var(--common-padding);
    width: 100%;
    display: block;
}

section#sidebar a:visited {
    color: black;
}

section#sidebar a:hover,
section#sidebar a:focus{
    background-color: var(--light-green);
}

section#sidebar a:active {
    color: var(--dark-base);
}

section#sidebar span {
    margin-left: var(--common-margin);
}
/* section#sidebar (end)*/


 



/* section#content-divider (start)*/
section#content-divider {
    width: 100%;
    height: var(--content-div-height);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    top: var(--header-bar-height);
    background-color: var(--background);
}

section#content-divider.fixed {
    position: fixed;
}

section#content-divider ul {
    display: flex;
    list-style-type: none;
    border-bottom: 3px solid var(--bamboo-green);
}

section#content-divider li {
    padding: 2px;
    background-color: var(--bamboo-green);
    width: 33%;
    min-width: max-content;
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    /* transform: translate(-5%); */
}

section#content-divider li:first-of-type {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    /* transform: translate(5%); */
}
section#content-divider li:nth-of-type(2) {
    transform: translateX(-5%);
}
section#content-divider li:nth-of-type(3) {
    transform: translateX(-10%);
}


section#content-divider button {
    font-size: var(--content-main-font-size);
    padding: calc(1px + 1vw) calc(10px + 1vw ) calc(1px + 1vw);
    border-radius: 0;
    border: none;
    background-color: var(--light-green-contrast);
    /* border-radius: 10px; */
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 5% 100%);
    width: 100%;
}

section#content-divider button#projects-button {
    -webkit-clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 95% 0, 100% 100%, 0 100%);
}

section#content-divider button:hover,
section#content-divider button:focus {
    background-color: #d3d6bf;
}

section#content-divider button:active {
    transform: scale(0.98);
}

section#content-divider button.clicked {
    background-color: var(--dark-green-contrast);
    font-weight: bold;
}
/* section#content-divider (end)*/






/* section#content-dash (start)*/
section#content-dash {
    padding: calc(1px + 1vw);
    /* transition: transform 1s ease-in-out; */
    display: flex;
    min-width: 100vw;
    overflow: hidden;
    flex-wrap: nowrap;
}

section#content-dash > section {
    transition: transform 0.2s ease-in-out;
    overflow: hidden;
    width: 100%;
    flex: 0 0 100%;
 
} 

section#content-dash > section#projects.swiped {
    transform: translateX(-110%);
} 

section#content-dash > section#projects{
    transform: translateX(0);
}

section#content-dash > section#announcements.swiped {
    transform: translateX(-200%);
} 

section#content-dash > section#announcements{
    transform: translateX(-100%);
} 


section#content-dash > section#team.swiped {
    transform: translateX(-300%);
} 

section#content-dash > section#team {
    transform: translateX(-200%);
} 






section#content-dash.offset {
    padding-top: calc(var(--content-div-height) + calc(1px + 1vw));
}

div#projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 300px;
    grid-auto-rows: 300px;
    gap: calc(var(--common-margin) * 3);
}

div#projects-grid div[data-class="project-box"] {
    padding: var(--common-padding);
    border: 1px solid black;
    width: 100%;
    min-height: calc(150px + 1vw);
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

div#projects-grid div[data-class="project-box"] h4 {
    font-size: var(--content-header-font-size);
    height: 10%;
}
div#projects-grid div[data-class="project-box"] div[data-detail="details"] {
    height: 75%;
    display: flex;
    flex-direction: column;
}

div[data-detail="details"] p {
    height: max-content;
    /* flex: 1 1 30%; */
    /* height: max-content; */
    width: 100%;
    font-size: calc(0.6rem + 1vw);
    /* padding-bottom: var(--common-padding); */
    margin-bottom: var(--common-margin);
}

div[data-detail="details"] div[data-preview="preview"] {
    width: 100%;
    flex: 1;
    /* border: var(--common-padding) solid var(--background); */
    background: url("/images/profile.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

div#projects-grid div[data-class="project-box"] div[data-action="respond"] {
    height: 15%;
    display: flex;
    justify-content: flex-end;
    align-items: end;
    gap: calc(5px + 1vw);
}

div#projects-grid div[data-class="project-box"] button {
    height: calc(var(--content-main-font-size) * 2);
    width: calc(var(--content-main-font-size) * 5);
    /* padding: calc(1px + 1vw); */
    font-size: var(--content-main-font-size);
    background-color: var(--light-green-contrast);
    border: none;
    border-radius: 10%;

    display: flex;
    justify-content: center;
    align-items: center;
}

div#projects-grid div[data-class="project-box"] button i {
    width: 30%;
}
div#projects-grid div[data-class="project-box"] button span {
    width: 30%;
}